*,::before,::after{
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background: #F2F2F2;
}

:root{
    --clr-dark-one:#023020;
    --clr-primary:	#0096FF;
    --ff-syntax:sans-serif;
    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.85rem;
    --fs-body:1.65 rem;
    --bs:0.25em 0.25em 0.75em rgba(0,0,0,0.25),
    0.125em 0.125em 0.25em rgba(0,0,0,0.15)
}

@media(min-width:800px){
    :root{
        --fs-h1:3rem;
        --fs-h2:2.75rem;
        --fs-h3:2.125rem;
    }
    
}
h1,
h2,
h3{
    line-height: 1.1;
    margin-bottom: 0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
.section__title{
    color:var(--clr-primary)
}
.section__body{
    font-size: var(--fs-body);
}
p{
    max-width: 570px;
    line-height: 2em;
}
h3{
    color: var(--clr-primary);
}
@media(min-width:600px){
.header{
  display: flex;
  gap:1em;
  justify-content: center;
  justify-content: center;
  padding: 0.5em;
  margin-top: 1em;}
  .header__subtitle{
    padding-left: 0.5em;
    margin: 0.5em 0;
  }
  .section{
    max-width: 600px;
    margin:0 auto; 
    }
}

.syntax{
    font-family: var(--ff-syntax);
    color:green ;
    font-weight: 700;
}
.code-image-container{
    margin-bottom: 1em;
}
.section__video{
    margin: 1em 0;
}
.code-image-container{
    margin: auto;
    padding: auto;
}

.code-img{
    width: 550px;
    height:350px;
}
.error-img{
    max-width:100%;
    height:100px
}
@media(max-width:600px) {
    .code-image-container{
        margin-left: 1.2em;
    }
    .section{
        padding: 1em;
    }
    .code-img{
        max-width: 300px;
        max-height: 250px;
    }
    .error-img{
       height: auto;
    }
    .video__item,
    .section__video{
       margin: auto;   
       max-width: 300px;
       height: 250px;
 }
   .header__title{
        text-align: center;
        padding: 0; 
}
.header__subtitle{
    margin-left: 1.4em;
    padding-bottom: 0.7em;
}
.header__img{
   display: none;
   
}
}
.header__img{
    box-shadow: var(--bs);
}
.header__title{
    color: var(--clr-primary);
}
.header__subtitle{
    color: var(--clr-dark-one);
    text-decoration: none;
}
.childVariants{
    padding-left: 2em;
}
.about-image{
    width: 180px;
    border-radius: 10px;
    box-shadow: var(--bs);
}
@media(max-width:600px){
    .section-about-me{
        background: #fff;
    }
    .about-image{
        margin-top:1em;
        border-radius: 50%;
    }
    .about-image-conatiner{
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .about-title-author{
        text-align: center;
    }
    .social-list{
        display: flex;
        justify-content: safe;
       gap:2 em;
       margin-left: 2.7em;
      
    }
}
@media(min-width:800px){
    .about-container{
        display: flex;
        gap: 3em;
        margin-left: 2em;
        margin-right: auto;
        margin-top:2em
    }
}

.about-items{
    padding-top: 2em;
}
.about-title{
    text-align: center;
}
.about-title-author{
    margin-bottom: 0;
    color: var(--clr-dark-one);
}
.social-list{
    list-style: none;
    color:var(--clr-dark-one);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.social-item{
    margin: 1em;
    cursor: pointer;
    transition: all ease-in;
}
.social-item:hover{
    transform: scale(2);
}
