*,::before,::after{
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background: #F2F2F2;

}

:root{
    --clr-dark-one:#023020;
    --clr-primary:	#0096FF;
    --ff-syntax:sans-serif;
    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.125rem;
    --fs-body:1rem;
    --bs:0.25em 0.25em 0.75em rgba(0,0,0,0.25),
    0.125em 0.125em 0.25em rgba(0,0,0,0.15)
}

@media(min-width:800px){
    :root{
        --fs-h1:3rem;
        --fs-h2:2.75rem;
        --fs-h3:2.125rem;
    }
    
}
h1,
h2,
h3{
    line-height: 1.1;
    margin-bottom: 0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
.section__title{
    color:var(--clr-primary)
}
p{
    max-width: 600px;
    line-height: 2em;
}
h3{
    color: var(--clr-primary);
}
@media(min-width:600px){
.header{
  display: flex;
  gap:1em;
  justify-content: center;
  justify-content: center;
  padding: 0.5em;
  margin-top: 1em;}
  .header__subtitle{
    padding-left: 0.5em;
    margin: 0.5em 0;
  }
  .section{
    max-width: 600px;
    margin:0 auto;

    
    }
}

.syntax{
    font-family: var(--ff-syntax);
    color:var(--clr-dark-one) ;
    font-weight: 700;
}
@media(max-width:600px) {
    .section{
        padding: 1em;
    }
    .video__item,
    .section__video{
       margin: auto;   
       max-width: 300px;
       height: 250px;
 }
   .header__title{
        text-align: center;
        padding: 0; 
}
.header__subtitle{
    margin-left: 1.4em;
    padding-bottom: 0.7em;
}
.header__img{
   display: none;
   
}
}
.header__img{
    box-shadow: var(--bs);
}
.header__title{
    color: var(--clr-primary);
}
.header__subtitle{
    color: var(--clr-dark-one);
    text-decoration: none;
}
.childVariants{
    padding-left: 2em;
}

